 .maintext {
     color: black;
     font-weight: italic;
     font-family: "Montserrat";
     font-size: 20px;
     word-spacing: 7px;
     margin-top: 10px;
     padding-left: 40px;
     padding-right: 40px;
 }
