.c1{
    margin-top: 3%;
    padding-top: 0%;
    border:2px solid gray;
    box-shadow: 2px 0px 5px lightcyan , -2px 0px 5px lightgrey , 0px 2px 5px lightgrey , 0px -2px 5px lightgrey;
    transition: all 0.25 linear;
}

.c1:hover{
    
    transform: scale(1.01);
    box-shadow: 2px 0px 5px rgb(126, 239, 239) , -2px 0px 5px gray , 0px 2px 5px rgb(131, 238, 238) , 0px -2px 5px gray;
    transition-delay: 100ms;
}

.col1 , .col2{
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 2%;
}

.col2{
    margin-top: 4%;
}

.img-1{
    border-radius: 30%;
  }

@media screen and (min-width: 991px){
    .col1{
        border : 2px solid lightgray;
        border-top-style: None;
        border-right-style: solid;
        border-bottom-style: None;
        border-left-style: None;
    }
    }


.content-ach{

    margin-top: 5%;
    margin-right:2%;
    margin-left:2%;
}
